body{
    background-color: rgb(26, 123, 207);

}


.cabecalho{ border: 100px;

    font-size: 50px;
    background-color: aliceblue;
    margin-bottom: 10px;

}

section{
    background-color: bisque;
    max-width: 40%;
    max-height: 40%;
    
}

.importante{
    font-size: 75px
}
p {
  
    color: rgb(199, 196, 32);
}

span{
    color: rgb(0, 255, 170);
    background-color: brown;
}

img{
    width: 120px;
    height: 100px;
    border: 10px solid; color: black;

}
div{
    padding: 100x;
    margin: 10px;
    border: 10px solid;
    width: 100px;
    height: 100px;
}
.sem {
    
background-color: brown;}
.com {
    
    background-color: rgb(30, 255, 0);
    box-sizing: border-box;
}
